<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.40/Tone.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.23.2/vuedraggable.umd.min.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tonaljs/tonal/browser/tonal.min.js"></script>
    <stylesheet_link_tag 'application'>
  </head>

  <body>
    
      <header>
        <div><%= link_to root_path do %><%= image_tag '/logo.png' ,id:"logo"%><% end %></div>
        <div><%= link_to "トップ", root_path, class: "text-white" %></div>
        <div><%= link_to "自動作曲機能", composition_path, class: "text-white" %></div>
        <div><%= link_to "作曲支援機能", support_path, class: "text-white" %></div>
        <% if user_signed_in? %> 
          <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></div> 
          <% else %>
          <div><%= link_to "ログイン", new_user_session_path, method: :delete, class: "text-white" %></div> 
        <% end %>  
      </header>
    


    <div>
      <%= yield %>
    </div>


    <footer class="footer">
      <div class="logo">
        <a href="https://twitter.com/?lang=ja"><img src="IMG/2021 Twitter logo - blue.png" alt="Twitter" width="50" height="50"></a>
        <a href="mailto:ここにアドレス"><img src="IMG/メールフリーアイコン 5.png" alt="mail" width="50" height="50"></a>
      </div>

      <div class="share">
        SHAREWAON<br>
        
        <a href="">利用規約</a><br>
        ©2022 Saundy
      </div>
    </footer>
  </body>
</html>
